{% extends "base.html" %}

{% block extra_css %}
    <!-- <link rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.min.css"/> -->
    <link rel="stylesheet" href="https://developer.api.autodesk.com/modelderivative/v2/viewers/6.2/style.min.css" type="text/css">
    <link rel="stylesheet" href="/static/js/themes/default/style.min.css" />

    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


    <style>
        body {
            margin: 0;
        }
        #forgeViewer {
            width: 100%;
            height: 600px;
            margin: 0;
            background-color: #F0F8FF;
        }
    </style>

{% endblock extra_css %}

{% block extra_head_js %}

    <!-- Datatables -->
    <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

    <script src="/static/js/custom.js"></script>

    <!-- <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/three.min.js?v=v2.10"></script> -->
    <!-- <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.js?v=v2.10"></script> -->
    <script src="https://developer.api.autodesk.com/modelderivative/v2/viewers/6.2/viewer3D.min.js"></script>
    <script src="/static/js/jstree.min.js"></script>

    <!-- <script src="/static/js/entry.js"></script> -->
    <!-- <script type="module" src="/static/js/Viewer.Extensions/Viewing.MultiModelExtensionBase/Viewing.MultiModelExtensionBase.js"></script> -->
    <!-- <script type="module" src="/static/js/Viewing.Extension.VisualReport/Viewing.Extension.VisualReport.js"></script> -->
    <!-- <script src="/static/js/forgeviewer.js"></script> -->
    <!--<script src="/static/js/components/d3/d3.js"></script>-->
    <!--<script src="/static/js/components/d3pie/d3pie/d3pie.js"></script>-->
    <!--<script src="/static/js/components/dragula/dist/dragula.js"></script>-->
    <!--<script type="module" src="/static/js/forgeviewer.module.js" id="forgeviewer-script" token="{{ token }}" expires_in="{{ expires_in }}" is_auth="{{ IsAutheroized }}"></script> -->
    <script src="/static/js/forgeviewer.js" id="forgeviewer-script" token="{{ token }}" expires_in="{{ expires_in }}" is_auth="{{ IsAutheroized }}"></script>

{% endblock extra_head_js %}


{% block body_class %}nav-sm{% endblock %}

{% block content %}
    <div class="right_col" role="main" style="min-height: 928px;">
        <div class="loading-bg is-hide" id="loading">
            <img src="/static/images/loading.gif" class="loading-icon">
        </div>
        <div class="page-header">
           <h2> Welcome to Forge Viewer Sample Site !! </h2>
        </div>
        <div class="row" style="margin-bottom: 30px">
            <div class="col-xs-12">
                <!-- <a href="/api/forge/gettoken" class="btn btn-primary {% if IsAutheroized %} django-hide {% endif %} ">login</a> -->
                <!-- <a href="/api/forge/reset" class="btn btn-success {% if not IsAutheroized %} django-hide {% endif %} ">logged in </a> -->
                <div class="btn-group" data-toggle="buttons">
                    <button class="btn {% if IsAutheroized %} btn-success active {% else %} btn-default {% endif %}"  id="login-btn" >
                        login
                    </button>
                    <button class="btn {% if not IsAutheroized %} btn-primary active {% else %} btn-default {% endif %}" id="logout-btn">
                        logout
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-exclamation-circle"></i>
                            READE ME / NOTES
                        </h2>
                        <ul class="nav navbar-right panel_toolbox" style="min-width: 35px">
                            <li>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <ul class="to_do">
                            <li>
                                <i class="fa fa-exclamation"></i>
                                <small> You need to get access to your BIM360 Docs / Team. Recomended Hub Site is [ <a href="https://docs.b360.autodesk.com/projects/3c37a064-9aad-4484-aac3-5afc3a06b623/folders/urn:adsk.wipprod:fs.folder:co.iusGs8j1TIOpX-21u-SfZg/detail"> Autodesk Cunsulting Japan</a> ]</small>
                            </li>
                            <li>
                                <i class="fa fa-exclamation"></i>
                                <small> At first time, this application fetches all BIM360 Docs / Team folders at once, (maximum hierarchy depth is 5).</small>
                            </li>
                            <li>
                                <i class="fa fa-exclamation"></i>
                                <small>Only the following list is supported modern browsers.</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% if IsAutheroized %}
            <div class="col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i>
                            Hub Site List
                            <small>select your site !!</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox" style="min-width: 35px">
                            <li>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <select class="form-control" id="hub-selecter">
                            {% for itr in hublist %}
                                <option value="{{ itr.id }}">{{itr.attributes.name}} (id: {{ itr.id }})</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><i class="fa fa-folder"></i>
                                    Folder Hierarchy
                                </h2>
                                <ul class="nav navbar-right panel_toolbox" style="min-width: 35px">
                                    <li>
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content jstree-scroll-box">
                                <div id="jstree"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><i class="fa fa-database"></i>
                                    Model Hierarchy
                                </h2>
                                <ul class="nav navbar-right panel_toolbox" style="min-width: 35px">
                                    <li>
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id="jstree-objects"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-camera-retro"></i>
                            Forge Viewer
                        </h2>
                        <ul class="nav navbar-right panel_toolbox" style="min-width: 35px">
                            <li>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div id="forgeViewer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-table"></i>
                        Model Raw Properties
                    </h2>
                    <ul class="nav navbar-right panel_toolbox" style="min-width: 35px">
                        <li>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content" id="panel-info">
                   <table id="forge-table-info" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Key</th>
                            <th>Value</th>
                          </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-table"></i>
                            Item Raw Properties
                        </h2>
                        <ul class="nav navbar-right panel_toolbox" style="min-width: 35px">
                            <li>
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="forge-table-prop" class="table table-striped table-bordered">
                            <thead>
                              <tr>
                                <th>Key</th>
                                <th>Value</th>
                                <th>Category</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
