<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img src="{{  account.profileimage_m }}" alt="">{{ account.firstname|default:account.username }} {{ account.lastname }}
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
          <li><a href="https://manage.autodesk.com/home">Your Profile</a></li>
          <li><a href="https://manage.autodesk.com/cep/#products-services/all">Your Subscriptions</a></li>
          <li><a href="/readme">Read Me</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
